body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    font-family: 'Rubik Moonrocks', cursive;
  }
  div#g {
      display: flex;align-content: center;flex-direction: column;
    }
  .cid{
    background-color: white;
    width:20%;
    display:flex;
    margin:auto;
    padding:1.5rem;
    justify-content: center;
    border-radius: 5px;
    
  }
  #paragraf{
    color: white;
    font-size: 1.6rem;
  }
  #button{
    background: transparent;
    color:black;
    padding:5px 10px;
    
  }
  